/*  your css code here. If applicable */

div::after{
	content: "After Element";
	color: rgb(255, 0, 0);
	font-size: 20px;
	font-weight: bold;
}

div::before{
	content: "Before Element";
	color: rgb(255, 0, 0);
	font-size: 20px;
	font-weight: bold;
}
